<s-toolbar (onClick) ="toolbarOnClick($event)" [keyword] ="keyword" (onSearch) = "onSearch($event)" [placeHolder] ="searchTitle" >   
    <!-- <p-dropdown [ngModel]="searchParams.unit_type" [options]="unitTypes" optionLabel="name" optionValue="value" styleClass="mx-3 search-box" 
    (onChange)="dt.filter($event.value, 'unit_type', 'contains')" [showClear] = "true"
      ></p-dropdown>  
      <p-dropdown [ngModel]="searchParams.is_base_unit" [options]="isBaseUnits" optionLabel="name" optionValue="value" styleClass="mx-3 search-box"
      (onChange)="dt.filter($event.value, 'is_base_unit', 'contains')" [showClear] = "true"
      ></p-dropdown> -->
      <p-dropdown [ngModel]="searchParams.status" [options]="status" optionLabel="name" optionValue="value" styleClass="mx-3 search-box"
      (onChange)="dt.filter($event.value, 'status', 'contains')" [showClear] = "true"
      ></p-dropdown> 
</s-toolbar>

<div class="card mt-3"> 
<p-table
    #dt
    [lazy]="true" (onLazyLoad)="lazyLoad($event)" 
    [value]="data"
    dataKey="id"
    [rows]="100"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,50, 100]"
    [totalRecords]="totalRecords"
    rowGroupMode="subheader" groupRowsBy="module_code" 
    [paginator]="true"
    currentPageReportTemplate="Hiển thị từ  {first} đến {last} trên tổng số  {totalRecords} bản ghi"
    styleClass="datatable-responsive"
    [tableStyle]="{ 'min-width': '75rem' }"> 
    <ng-template pTemplate="groupheader"
    let-data
    let-rowIndex="rowIndex"
    let-expanded="expanded" >
        <tr>
            <th style="width:10%">#</th>
            <th style="width:35%">Tên quyền</th>          
            <th style="width:20%">Mã quyền</th>
            <th style="width:20%">Chức năng</th>
        </tr>
        
    </ng-template>

    <ng-template pTemplate="groupheader" let-item>
        <tr pRowGroupHeader>
            <td colspan="5">
                        <span class="font-bold ml-2">{{item.module_name}} - {{item.module_code}}</span>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td class="text-center">
                {{ i+1 }}
            </td>
            <td><span class="p-column-title">Tên quyền: </span>
                {{ item.name }}
            </td>
            <td><span class="p-column-title">Mã quyền: </span>
                {{ item.codename }}
            </td>   
            <td><span class="p-column-title">Chức năng: </span>
                {{ item.module_name }} 
            </td>        

            <!-- <td >
                <span class="p-column-title">Trạng thái: </span>  
                <p-checkbox [disabled]="true" [(ngModel)]= "item.status" [binary]="true" inputId="binary"></p-checkbox>
            </td>
            <td> 
                <p-actionbar [actions] = "['view']" (onClick)="actionClick($event, item)"></p-actionbar> -->
               
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No categorys found.</td>
        </tr>
    </ng-template>
</p-table> 
</div> 