::ng-deep {
    .btn-success {
        background-color: #1488E7!important;
        border-color: #1488E7!important;
    }
    .btn-error{
        background-color: #bf6555!important;
        border-color: #bf6555!important;
    }
    .p-inputwrapper {
        width: 100%;
    }
}

@media (max-width:500px) {
    .surface-ground {
        padding: 0px 10px;
    }
}
.custom-label {
    font-size: 1.5em; 
    font-weight: bold; 
}