<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo' : 'logo-white'}}.png"
            alt="Ariba" class="mb-1 w-20rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, #1488E7 10%, rgba(33, 150, 243, 0) 30%);">
            <form [formGroup]="form!" class="w-full surface-card py-6 px-5 sm:px-8" style="border-radius:53px">
               
                <a href="#" class="previous">&#8249;</a>
                <label  class="block text-900  mb-2 custom-label">Quên mật khẩu</label>
                <br>
                <div class="p-formgrid grid">
                    <div class="field col-12">
                        <label for="identityContent" class="block text-xl font-medium mb-2">Nhập email hoặc số điện thoại đã đăng ký tài khoản</label>
                        <input id="identityContent" formControlName="identityContent" type="text" placeholder="Email hoặc số điện thoại"
                            pInputText class="w-full md:w-30rem mb-1 p-inputtext p-component p-element"
                            style="padding:1rem">
                             <br />
                             <span class="p-error font-italic" *ngIf="f['identityContent'].errors && (f['identityContent'].dirty || f['identityContent'].touched) ">
                                <small *ngIf="f['identityContent'].errors['required'] || f['identityContent'].errors['whitespace']">Email không được để trống</small>
                            </span>
                    </div>
                </div>
                <button pButton pRipple [loading]="loading" [disabled]="!form?.valid" (click)="sendOTP()" label="Gửi mã"  class="w-full p-3 text-xl btn-success mb-2" ></button>


            </form>
        </div>
    </div>
</div>