<div class="guide-container">
  <section class="guide-header">
    <h1>Hướng Dẫn Đăng Ký, Đăng Nhập</h1>
    <p>
      Đăng ký tài khoản giúp chúng tôi có thể phục vụ bạn tốt hơn. Như là có thể
      lưu và theo dõi đơn hàng khi mua, có thể lưu lại địa chỉ và sđt cho đơn
      sau.
    </p>
  </section>

  <section class="guide-section">
    <h2>1. Hướng Dẫn Đăng Ký</h2>
    <p>
        Các bạn có thể click vào <a href="" class="underline-link" target="_blank">đăng ký tại đây</a> để thực hiện quá trình đăng ký.
    </p>
    <p>
        Mong quý khách nhập các trường thông tin chính xác để bảo vệ chính quyền lợi của bản thân mình nhé.
    </p>
  </section>

  <section class="guide-section">
    <h2>2. Đăng Nhập Tài Khoản</h2>
    <p>
        Quý khách có thể <a href="" class="underline-link" target="_blank">đăng nhập tại đây</a>.
    </p>
    <p>
        Chúc quý khách đăng ký và đăng nhập thành công. Hãy mua sắm ngay trên website QAP STORE ngay nhé.
    </p>
  </section>
</div>
