<div class="policy">
  <div class="body">
    <div class="features">
      <div class="feature-card" (click)="scrollToSection('section1')">
        <i class="pi pi-shield"></i>
        <h3>Chính sách đảm bảo</h3>
      </div>
      <div class="feature-card" (click)="scrollToSection('section2')">
        <i class="pi pi-refresh"></i>
        <h3>Chính sách đổi trả</h3>
      </div>
    </div>

    <div class="sections">
      <section id="section1" class="section">
        <div class="section-content">
          <div class="text">
            <h2>01. QAP STORE Đảm Bảo</h2>
            <p>
              QAP STORE xây dựng hệ thống bán hàng xoay quanh khách hàng nên
              chúng tôi luôn cố gắng đáp ứng được mong muốn của khách hàng về
              chất lượng sản phẩm cũng như dịch vụ.
            </p>

            <h3>Giá trị cốt lõi của QAP STORE</h3>
            <ul>
              <li>Gia dụng có chất lượng vượt trội</li>
              <li>Sản phẩm thông minh, tiện ích, đi trước thời đại</li>
              <li>Hỗ trợ đổi trả, khắc phục lỗi nhanh chóng</li>
              <li>Nhanh chóng, linh hoạt trong việc vận chuyển, thanh toán</li>
              <li>Bảo hành và hỗ trợ chuyên nghiệp, tận tình</li>
            </ul>

            <p>
              Lòng tin của khách hàng, của bạn là sức mạnh đối với sự phát triển
              của QAP STORE. Do đó, chúng tôi xin hứa và cam kết những điều sau
              đây.
            </p>

            <h3>Cam kết hoàn tiền</h3>
            <p>
              QAP STORE cam kết sẽ hoàn tiền 100%, đổi trả đối với các khách
              hàng nếu sản phẩm của chúng tôi không giống hình hoặc không đúng
              mô tả. Tham khảo chính sách đổi trả của chúng tôi.
            </p>

            <h3>Không giống hình, mô tả sản phẩm</h3>
            <p>
              Là kênh bán hàng online, chúng tôi đảm bảo hình ảnh và mô tả sản
              phẩm chính xác để khách hàng biết rõ sản phẩm mình sẽ mua. Khách
              hàng có quyền hoàn trả nếu sản phẩm không đúng như hình ảnh và mô
              tả.
            </p>

            <h3>Sản phẩm lỗi, hư hỏng do quá trình vận chuyển</h3>
            <p>
              Sản phẩm có thể lỗi do nhà sản xuất hoặc hư hỏng trong quá trình
              vận chuyển. Trong các trường hợp này, chúng tôi mong quý khách
              thông cảm và thực hiện đổi trả hơn là hoàn lại toàn bộ tiền.
            </p>

            <h3>Cam kết về chất lượng sản phẩm</h3>
            <p>
              QAP STORE luôn lựa chọn nhà cung cấp uy tín và kiểm tra chất lượng
              sản phẩm kỹ lưỡng trước khi đưa đến tay người tiêu dùng. Chúng tôi
              đảm bảo chất lượng sản phẩm như đã mô tả và cam kết mang đến sự
              hài lòng tối đa.
            </p>

            <p>
              Mong rằng những cam kết trên có thể khiến quý khách bớt lo lắng
              phần nào khi mua hàng online. Rất vui lòng được phục vụ quý khách!
            </p>
          </div>
        </div>
      </section>

      <section id="section2" class="section">
        <div class="section-content">
          <div class="text">
            <h2>02. Chính sách đổi trả</h2>
            <h4>1. Cam kết</h4>
            <p>
              QAP STORE cam kết bán hàng nguyên mới và đảm bảo đúng chất
              lượng của nhà sản xuất. Đồng thời, sản phẩm mà khách hàng nhận
              được phải nguyên vẹn và đúng với các thông tin mô tả trên Website
            </p>

            <h4>2. Giao hàng</h4>
            <p>
              QAP STORE giao hàng qua các đối tác vận chuyển uy tín ở Việt Nam
              <br />
              Trước khi nhận hàng và thanh toán, quý khách vui lòng mở hộp và
              kiểm tra kĩ tất cả các sản phẩm trước mặt đơn vị vận chuyển.
            </p>
            <p>
              Nếu thấy hàng đầy đủ, đúng sản phẩm và nguyên vẹn thì khách hàng
              mới thanh toán và nhận hàng. Trường hợp hàng hoá bị thiếu, không
              đúng, hoặc hư hỏng, vui lòng từ chối nhận hàng và gọi ngay vào
              hotline <strong>0383.067.490</strong> để được hỗ trợ nhanh nhất.
            </p>
            <p>
              Chúng tôi vẫn chịu trách nhiệm việc mất mát, hư hỏng khi quý khách
              có
              <strong>VIDEO QUAY KHUI MỞ ĐƠN HÀNG</strong> khi đơn hàng vẫn còn
              nguyên vẹn để làm bằng chứng.
            </p>

            <h4>3. Đổi trả hàng</h4>
            <p>
              Có nhiều lý do khách quan và chủ quan dẫn đến khách hàng mong muốn
              được đổi/trả sản phẩm. Trước hết, QAP SOTRE xin gửi lời xin
              lỗi chân thành đến quý khách không may đã gặp những trường hợp
              này. Chúng tôi mong quý khách thông cảm và tiếp tục ủng hộ chúng
              tôi hơn nữa.
            </p>

            <h5>Bước 1: Thông báo đổi trả</h5>
            <p>
              Nếu quý khách có nhu cầu đổi trả hàng, vui lòng thông báo ngay cho
              bộ phận chăm sóc khách hàng của QAP STORE trong vòng
              <strong>7 ngày</strong> kể từ thời điểm nhận hàng thông qua
              fanpage:
              <a href="" target="_blank"
                >fb.com/qapstore</a
              >
              hoặc liên hệ hotline: <strong>0528.xxx.xxx</strong>.
            </p>
            <p>
              Sau khi nhận được yêu cầu đổi/trả, bộ phận Hỗ trợ khách hàng sẽ
              phản hồi khách hàng trong vòng 24 giờ làm việc.
            </p>

            <h5>Bước 2: Chính sách đổi trả</h5>
            <p>QAP STORE không hỗ trợ đổi trả trong các trường hợp sau:</p>
            <ul>
              <li>Sản phẩm đã qua sử dụng.</li>
              <li>Sản phẩm mất hộp/box của nhà sản xuất.</li>
              <li>Các sản phẩm là quà tặng miễn phí.</li>
              <li>Lỗi phát sinh do quý khách sử dụng sai cách, tai nạn.</li>
            </ul>
            <p>
              Còn lại QAP STORE sẽ hỗ trợ đổi trả cho quý khách. Thời gian
              áp dụng đổi trả:
              <strong>Trong vòng 7 ngày</strong> kể từ khi khách hàng nhận được
              sản phẩm. Đối với các sản phẩm lỗi do NSX thì hỗ trợ đổi trả lên
              tới <strong>14 ngày</strong>.
            </p>
            <p>
              Đối với hàng đổi trả hàng lỗi, QAP STORE sẽ hỗ trợ phí vận
              chuyển cho khách hàng. Trường hợp đổi do quý khách muốn đổi sản
              phẩm vì lý do cá nhân, quý khách sẽ chịu phí ship 2 đầu (ship tới
              và ship về).
            </p>
            <p>
              QAP STORE không hỗ trợ phí ship và không khuyến khích trường
              hợp này.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <footer class="footer">
    <p>© 2024 QAP Store. All rights reserved.</p>
  </footer>
</div>
