<div class="product-page">
  <div class="header">
    <div class="header-content">
      <h1>{{ categoryName }}</h1>
      <p>Có {{ totalProducts }} sản phẩm trong {{ categoryName }}</p>
    </div>
    <div class="header-filter">
      <p-dropdown
        [options]="filterOptions"
        [(ngModel)]="selectedFilter"
        placeholder="Sắp xếp"
        (onChange)="onFilterChange($event)"
        class="filter-dropdown"
      >
      </p-dropdown>
    </div>
  </div>

  <div class="product-list">
    <div *ngFor="let product of filteredProducts" class="product-card" (click)="showProductDetails(product)">
      <div class="image-container">
        <img
          [src]="product.imageUrl"
          alt="{{ product.name }}"
          class="product-image"
        />
      </div>
      <div class="product-info">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">{{ product.price | currency : "VND" }}</p>
        <p-rating
          [(ngModel)]="product.rating"
          [readonly]="true"
          [stars]="5"
        ></p-rating>
        <button class="add-to-cart-btn" (click)="addToCart(product)">
          <i class="pi pi-shopping-cart"></i>
        </button>
      </div>
    </div>
  </div>

  <p-paginator
    [rows]="rows"
    [totalRecords]="totalProducts"
    (onPageChange)="onPageChange($event)"
    class="paginator"
  >
  </p-paginator>
</div>


<!-- Product Detail Dialog -->
<p-dialog
  [(visible)]="productDetailDialogVisible"
  [header]="selectedProduct?.name"
  [style]="{ width: '500px' }"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
>
  <div class="product-detail">
    <div class="image-container">
      <img
        [src]="selectedProduct?.imageUrl"
        alt="{{ selectedProduct?.name }}"
        class="product-image-large"
      />
    </div>
    <div class="product-info">
      <p><strong>Tên:</strong> {{ selectedProduct?.name }}</p>
      <p><strong>Giá:</strong> {{ selectedProduct?.price | currency : 'VND' }}</p>
      <p><strong>Danh mục:</strong> {{ selectedProduct?.category }}</p>
      <p><strong>Số lượng tồn kho:</strong> {{ selectedProduct?.stock }}</p>
      <div>
        <label for="quantity">Số lượng:</label>
        <input
          id="quantity"
          type="number"
          pInputText
          [(ngModel)]="selectedQuantity"
          [min]="1"
          [max]="selectedProduct?.stock"
        />
      </div>
    </div>
  </div>
  <div class="dialog-actions">
    <button
      class="p-button p-button-lg" style="margin-left: 130px;"
      (click)="addToCart(selectedProduct)"
    >
      Thêm vào giỏ hàng
    </button>
  </div>
</p-dialog>