.gradient-custom {
    /* fallback for old browsers */
    background: #D9F9D9;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right bottom,
        rgba(217, 249, 217, 1),
        rgba(49, 167, 74, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right bottom,
         rgba(217, 249, 217, 1),
        rgba(49, 167, 74, 1)
    );
}

:host ::ng-deep .p-button.p-button-info.p-button-text {
    background-color: #D9F9D9;
}

:host ::ng-deep .p-button.p-button-warning.p-button-text {
    background-color: #D9F9D9;
}


.vh-100 {
    width: 100%;
    height: 100%;
    // background: linear-gradient(#F9F9F9 100%, #F9F9F9 0%);
}

.container {
    height: 100%;
}

.wrap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-container {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.wrap-container-row {
    text-align: center;
    border-radius: 0.5rem;
}

::ng-deep {
    .btn-success {
        background-color: #1488E7!important;
        border-color: #1488E7!important;
    }
    .btn-error{
        background-color: #bf6555!important;
        border-color: #bf6555!important;
    }
}

@media (max-width:500px) {
    .surface-ground {
        padding: 0px 10px;
    }
}
.custom-label {
    font-size: 1.5em; 
    font-weight: bold; 
}