<div class="card">
    <p-tabView>
        <p-tabPanel header="Đổi mật khẩu">
            <div>
                <form [formGroup]="form!">
                    <div class="p-formgrid grid">
                        <div style="padding: 1rem">
                            <label
                                for="currentPassword"
                                class="block text-900 font-medium text-xl mb-2"
                                >Nhập mật khẩu hiện tại</label
                            >
                            <p-password
                                class="w-full"
                                [style]="{ display: 'block' }"
                                id="currentPassword"
                                inputStyleClass="w-full"
                                placeholder="Mật khẩu hiện tại"
                                [toggleMask]="true"
                                styleClass="mb-1 "
                                inputStyleClass="w-full p-3 md:w-30rem"
                                formControlName="currentPassword"
                                name="currentPassword"
                            ></p-password>
                            <br />
                            <span
                                class="p-error font-italic"
                                *ngIf="
                                    f['currentPassword'].errors &&
                                    (f['currentPassword'].dirty ||
                                        f['currentPassword'].touched)
                                "
                            >
                                <small
                                    *ngIf="
                                        f['currentPassword'].errors[
                                            'required'
                                        ] ||
                                        f['currentPassword'].errors[
                                            'whitespace'
                                        ]
                                    "
                                    >Mật khẩu không được để trống</small
                                >
                                <small
                                    *ngIf="
                                        f['currentPassword'].errors['minlength']
                                    "
                                    >Mật khẩu phải dài hơn 6 ký tự</small
                                >
                                <br />
                            </span>
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div style="padding: 1rem">
                            <label
                                for="newPassword"
                                class="block text-900 font-medium text-xl mb-2"
                                >Nhập mật khẩu mới</label
                            >
                            <p-password
                                class="w-full"
                                [style]="{ display: 'block' }"
                                id="newPassword"
                                inputStyleClass="w-full"
                                placeholder="Mật khẩu mới"
                                [toggleMask]="true"
                                styleClass="mb-1 "
                                inputStyleClass="w-full p-3 md:w-30rem"
                                formControlName="newPassword"
                                name="newPassword"
                            ></p-password>
                            <br />
                            <span
                                class="p-error font-italic"
                                *ngIf="
                                    f['newPassword'].errors &&
                                    (f['newPassword'].dirty ||
                                        f['newPassword'].touched)
                                "
                            >
                                <small
                                    *ngIf="
                                        f['newPassword'].errors['required'] ||
                                        f['newPassword'].errors['whitespace']
                                    "
                                    >Mật khẩu không được để trống</small
                                >
                                <small
                                    *ngIf="f['newPassword'].errors['minlength']"
                                    >Mật khẩu phải dài hơn 6 ký tự</small
                                >
                                <br />
                            </span>
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div style="padding: 1rem">
                            <label
                                for="confirmNewPassword"
                                class="block text-900 font-medium text-xl mb-2"
                                >Nhập lại mật khẩu mới</label
                            >
                            <p-password
                                class="w-full"
                                [style]="{ display: 'block' }"
                                id="confirmNewPassword"
                                inputStyleClass="w-full"
                                placeholder="Nhập lại mật khẩu"
                                [toggleMask]="true"
                                styleClass="mb-1 "
                                inputStyleClass="w-full p-3 md:w-30rem"
                                formControlName="confirmNewPassword"
                                name="confirmNewPassword"
                            ></p-password>
                            <span
                                class="p-error font-italic"
                                *ngIf="
                                    f['confirmNewPassword'].errors &&
                                    (f['confirmNewPassword'].dirty ||
                                        f['confirmNewPassword'].touched)
                                "
                            >
                                <small
                                    *ngIf="
                                        f['confirmNewPassword'].errors[
                                            'required'
                                        ] ||
                                        f['confirmNewPassword'].errors[
                                            'whitespace'
                                        ]
                                    "
                                    >Mật khẩu không được để trống</small
                                >
                                <small
                                    *ngIf="
                                        f['confirmNewPassword'].errors[
                                            'minlength'
                                        ]
                                    "
                                    >Mật khẩu phải dài hơn 6 ký tự</small
                                >
                                <br />
                                <!-- <small
                                    *ngIf="
                                        f['confirmNewPassword'].errors[
                                            'confirmNewPassword'
                                        ]
                                    "
                                    >Mật khẩu không khớp, vui lòng nhập
                                    lại</small
                                > -->
                            </span>
                            <br />
                        </div>
                    </div>
                    <div>
                        <button
                            [loading]="loading"
                            [disabled]="!form?.valid"
                            (click)="confirmPassword()"
                            pButton
                            pRipple
                            label="Hoàn tất"
                            class="w-30rem p-3 text-xl btn-success"
                        ></button>
                    </div>
                </form>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
