<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <!-- Menu cha -->
        <li (click)="toggleMenu(i)" class="menu-item" [ngClass]="{ 'expanded': item.expanded }">
            <span>{{ item.label }}</span>
            <i
                class="pi"
                [ngClass]="{
                    'pi-angle-down': item.expanded,
                    'pi-angle-right': !item.expanded
                }"
            ></i>
        </li>

        <!-- Menu con -->
        <ul [ngClass]="{ 'submenu': true, 'show': item.expanded }">
            <li *ngFor="let subItem of item.items" class="submenu-item">
                <a [routerLink]="subItem.routerLink">
                    <i [class]="subItem.icon"></i>
                    {{ subItem.label }}
                </a>
            </li>
        </ul>
    </ng-container>
</ul>
